---
import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Portafolio de Juan Gonzalez - Desarrollador Junior"
  description="Contrata a Juan Gonzalez para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main>
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Projects />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
</style>
