---
const { name, id } = Astro.props;
---

<section id={id}>
  <h1>{name}</h1>
  <slot />
</section>

<style>
  section {
    width: 100%;
    max-width: 1200px;
  }

  @media screen and (max-width: 400px;) {
    section {
    }
  }
</style>
