---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/profile.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>

  <style is:global>
    @font-face {
      font-family: "Barlow-Regular";
      src: url(../assets/fonts/Barlow-Regular.woff);
    }

    @font-face {
      font-family: "Barlow-Bold";
      src: url(../assets/fonts/Barlow-Bold.woff);
    }

    @font-face {
      font-family: "Barlow-SemiBold";
      src: url(../assets/fonts/Barlow-SemiBold.woff);
    }

    html {
      font-family: "Barlow-Regular", monospace;
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 100vh;
      overscroll-behavior: none;
      background-color: #f0eff5;
    }

    h1,
    h2,
    h3 {
      font-family: "Barlow-Bold", monospace;
    }

    #navbar-box {
      animation: blur linear both 0.5s;
      animation-timeline: scroll();
      animation-range: 0 500px;
    }

    @keyframes blur {
      from {
        border-bottom: 2px solid rgba(185, 185, 185, 0.2);
      }
      to {
        box-shadow:
          0px 5px 50px -5px rgba(0, 0, 0, 0.1),
          0px 0px 0 1px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px);
        border-color: rgba(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
  </style>
</html>
